<!doctype html>
<html>

<head>
  <title>Socket.IO chat</title>

  <script src="/socket.io/socket.io.js">

  </script>
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>

  <script>
    $(function() {
      var socket = io();
      e.preventDefault(); // prevents page reloading
      let customId = "your_custom_device_id";
      socket.on("connect", () => {
        socket.emit('usuario', {
          customId: customId
        });
      });
    });
  </script>
</head>

<body>



</body>

</html>
