<!DOCTYPE html>
<html>
<head>
    <title><%= titulo %></title>
</head>
<body>
<% for(var i in mensajes) { %>
    <div class="flash"><%= mensajes[i] %></div>
<% } %>
<form action="/delete" method="delete">

    <div>
        <input type="submit" value="Identificarse"/>
    </div>
</form>
</body>
</html>
